# Git & Docker
.git
.gitignore
.dockerignore
Dockerfile

# Node modules & Builds (Docker will build these fresh!)
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets
.env
.env.*
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Local Clutter
archive/